@page "/jobs/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@inject HttpInterceptorService _interceptor
@implements IDisposable
<h3 class="card-title">Jobs </h3>
<br />


<a href="/jobs/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Job
</a>
<br />
<br />


@if (Jobs == null)
{
    <div class="alert alert-info">Loading Jobs...</div>
}
else
{
    <table class="table table-responsive" id="jobsTable">
        <!-- <thead>
             <tr>
                 <th>Name</th>
                 <th>Actions</th>
             </tr>
         </thead> -->

        <thead>
            <tr>
                <td>Job title</td>

                <td>Job location</td>
                <td>Job type</td>
                <td>Salary</td>
                <td>Date Posted</td>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var job in Jobs)
            {
                <tr>

                    <td>@job.JobTitle</td>
                    <td>@job.Location</td>
                    <td>@job.JobType</td>
                    <td>@job.Salary</td>

                    <td>@job.DateCreated.Date.ToString("dd MMMM yyyy")</td>

                   
                    
                    <td>
                        <a href="/jobs/view/@job.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>

                        <a href="/jobs/edit/@job.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>

                        <button class="btn btn-danger" @onclick="@(()=>Delete(job.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>





}

@code {
    private List<Job>? Jobs;

    protected async override Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
        Jobs = await _client.GetFromJsonAsync<List<Job>>($"{Endpoints.JobsEndpoint}");
    }

    async Task Delete(int jobId)
    {
        if (Jobs != null)
        {
            var job = Jobs.First(q => q.Id == jobId);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {job.Id}?");
            if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.JobsEndpoint}/{jobId}");

                await OnInitializedAsync();
            }
        }
    }
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("AddDataTable", "#jobsTable");
    }
    public void Dispose()
    {
        _interceptor.MonitorEvent();
        js.InvokeVoidAsync("DataTablesDispose", "#jobsTable");
        
    }


}
